body {
  color: #f00;
}

.main {
  width: 1024px;
  height: 1024px;
}

.day-column {
  flex-direction: row;
  flex-grow: 1;
  text-align: center;
  border: 1px solid;
}

.header {
  font-size: 85px;
  text-align: center;
}

.calendar {
  display: flex;
  border: 1px solid;
}

.day-header {
  border-bottom: 1px solid;
}
